.nav {
    margin: 0;
    padding: 0%;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav :hover {
    color: brown;
    transform: translateY(-2px);
}

.logo {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
    flex-shrink: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
    
}
.navbar{
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 2rem;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);         
    -webkit-backdrop-filter: blur(10px); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
}

.menu a {
    text-decoration: none;
    color: black;
    font-family: Helvetica,"Inter";
}

